<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
    <!-- start Mixpanel -->
        <script type="text/javascript">

        </script>
    <!-- end Mixpanel -->
    <script src="libs/jquery-1.10.1.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="popup.css"/>
</head>
<body>
    <div id="tomodo" ng-controller="tomodoControl">
        <div id="topbar">
            <div id="number-of-mods">
                {{mods.length}} MODS
            </div>
            <div id="icon">
                <img src="./images/tomodo-logo-white-22.png" alt=""/>
            </div>
        </div>
        <div id="main">
            <div id="mods">
                <div class="modGalleryElement modsElement" ng-repeat="mod in mods"  ng-click="openModSite(mod)">
                        <div class="imgContainer">
                            <div class="imgCover"></div>
                            <img src="{{mod.modImageXSmall}}" height="70" width="90">
                        </div>
                        <div class="textWrapper">
                            {{mod.description}}
                        </div>
                </div>
            </div>
            <div class="seperator">

            </div>
            <div class="modit" ng-click="modIt()">
                MOD THIS SITE
            </div>
        </div>
    </div>
</body>
</html>