a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
}

body{
    font-family:'Source Sans Pro', sans-serif;
    margin: 0px !important;
    color: white;
}

#tomodo{
    width: 275px;
    max-height: 512px;
    overflow: hidden;
}

#topbar{
    background: #FC5353;
    height: 22px;
    padding: 10px;
}

#icon{
    float: right;
    margin-left: 3px;
}

#number-of-mods{
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    font-style: italic;
}

#main{
    width: 245px;
    margin: 15px;
}

#mods{
    max-height: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#no-mods{
    color: black;
    text-align: center;
}

#no-mods .title{
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

#no-mods .text{
    margin-bottom: 20px;
}

.seperator{
    width: 245px;
    border-bottom: rgba(128, 128, 128, 0.5) 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px 0px rgba(128, 128, 128, 0.41);
}

.modit{
    text-align: center;
    width: 245px;
    height: 31px;
    background: #FC5353;
    border: none;
    padding-top: 11px;
    font-weight: bold;
    cursor: pointer;
}

.modsElement{
    margin-bottom: 5px;
    height: 70px;
    width: 220px;
    overflow: hidden;
    vertical-align: middle;
}

.modsElement:hover {
    background-color: #4c4c4c!important;
}

.imgContainer{
    position: relative;
    height: 70px;
}

.imgContainer, .textWrapper{
    float: left;
}

.textWrapper{
    color: #888888;
    margin-left: 10px;
    width: 110px;
    line-height: 22px;
    text-overflow: ellipsis;
}

.textWrapper .name {
    font-weight: bold;
    height: 20px;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
}

.textWrapper .description {
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imgCover{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 90px;
    height: 70px;
    background-color: #FC5353;
    opacity: .8;
    z-index: 10;
    background-image: url('./images/cover_image.png');
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    background-size: 25px;
}

.modsElement:hover .imgCover{
    display: block;
}
.modsElement:hover .textWrapper{
    color: white;
}

::-webkit-scrollbar {
    background: white;
    width: 12px;
}
::-webkit-scrollbar-button {
    background: white;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-track-piece {
    background: #E9E9E9;
    border-radius: 10px;
    margin-top: -15px;
    margin-bottom: -15px;
}
::-webkit-scrollbar-thumb {
    background: #C9C9C9;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
}

::-webkit-resizer {
}