<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
    <!-- start Mixpanel -->
        <script type="text/javascript">

        </script>
    <!-- end Mixpanel -->
    <script src="libs/jquery-1.10.1.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="popup.css"/>
</head>
<body>
    <div id="tomodo" ng-controller="tomodoControl">
        <button class="modit">
            Mod it
        </button>
        <div ng-show=" state == 'mods' ">
            <div ng-repeat="mod in mods" class="mod" ng-click="displayMod(mod)">
                <a href="{{baseUrl}}{{mod.modPageUrl}}">
                    {{mod.name}}
                    <br>
                    <img src="{{mod.modImageXSmall}}" alt=""/>
                </a>
            </div>
        </div>
        <div ng-show=" state == 'mod' ">
            <button ng-click="back()">
                back
            </button>
            <br>
            <a href="{{baseUrl}}{{modPageUrl}}" ng-click="openModPage()">
                visit mod page
            </a>
            <br>
            <a href="{{fullModUrl}}" ng-click="openModSite()">
                visit mod
            </a>
            <br>
            <img src="{{mod.modImageXSmall}}" alt=""/>

        </div>
    </div>
</body>
</html>